node_modules

#Hardhat files
cache
artifacts
.idea
contracts/.DS_Store
.DS_Store
package-lock.json
contracts/Conjure_flat.sol
contracts/EtherCollateral_flat.sol
scripts/decoder.js
/contracts/Alchemize.sol
/contracts/AlchemizeFactory.sol
/scripts/arguments.js
/scripts/deploy_ALCH.js
/scripts/deploy_Alchemize.js
/scripts/deploy_AlchemizeFactory.js
/scripts/deploy_Alchemy.js
/scripts/deploy_alchemy_governor.js
/scripts/deploy_alchemy_timelock.js
/scripts/deploy_AlchemyFactory.js
/scripts/deploy_bALCH.js
/scripts/deploy_CNJ.js
/scripts/deploy_cnj_staking_contract.js
/scripts/deploy_cnj_staking_schedule.js
/scripts/deploy_DutchAuction.js
/scripts/deploy_DutchAuctionFactory.js
/scripts/deploy_gov_cnj.js
/scripts/deploy_gov_alch.js
/scripts/deploy_lp_stakingpool.js
/scripts/deploy_merkle.js
/scripts/deploy_Minty.js
/scripts/deploy_MintyFactory.js
/scripts/deploy_router.js
/scripts/deploy_shyte.js
/scripts/deploy_StakingFactory.js
/scripts/deploy_StakingFactoryImplementation.js
/scripts/deploy_stakingpool.js
/scripts/deploy_timelock_alch.js
/scripts/deploy_timelock_cnj.js
/scripts/deploy_treasury_vesting.js
/scripts/deploy_vesting_factory.js
/scripts/deploy_vesting_implementation.js
/scripts/test_encode.js
/scripts/verify.js
hardhat.config.js
hardhat.config.js
scripts/deploy_Alchemize.js
/coverage/
coverage.json
hardhat.config.js
scripts/deploy_OOFTWAP.js
